{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>FoodOnline</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->



	<style>
		body, .main-section p, .mce-content-body p{
			font:Normal  14px/24px "Open Sans", sans-serif;letter-spacing: 0px;text-transform: none;color: #515151 !important;
		}
	</style>

</head>
<body>
	<!--Main Wrapper-->
	<div class="main-wrapper">
		<h1>My Index Page</h1>
		<!--Header Section Start-->
		<!-- {% include 'includes/header.html' %} -->
		<!--Header Section End-->

		<!--Home Section Start-->
		<!-- {% include 'includes/home_section.html' %} -->
		<!--Home Section End-->

		<!--Footer Section Start-->
		<!-- {% include 'includes/footer.html' %} -->
		<!--Footer Section End-->	

</body>
</html>